repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: local
    hooks:
      - id: eslint
        name: Frontend lint
        entry: bash -c "cd frontend && npm run lint"
        language: system
        pass_filenames: false

      - id: prettier
        name: Frontend format
        entry: bash -c "cd frontend && npm run format"
        language: system
        pass_filenames: false
